form {
    width: fit-content;
    align-self: center;
}
.containerL{
    height: 100vh;
    font-family: 'Instrument Sans';
    margin: 0;
    background: url('https://ui167uk0dv.ufs.sh/f/cPmxYSKavd0t7wGWeG9YzAeR3Ku0fwNZI2kPtdSq8DGsFMh1') lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center bottom;
    color: #FFF;
    padding: 2rem 1rem;
}
.brand > h2 {
    font-family: 'Instrument Sans Bold';
    color: #FFF;
    font-family: "Instrument Sans";
    font-size: 26.434px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.content{
    width: fit-content;
    align-self: center;
}
.username, .password {
    border-radius: 74.812px;
    background: rgba(255, 255, 255, 0.10);
    padding: 1rem 7rem;
}
.shade{
    border-radius: 4.156px;
    background: rgba(255, 255, 255, 0.05);
    flex-shrink: 0;
}
a {
    padding: 1rem 2rem;
}
p{
 font-family: 'Inter';  
 color: #FFF;
 font-size: 19.95px;
 font-style: normal;
 font-weight: 500;
 line-height: normal; 
}
.submit{
    padding: 1rem 5rem;
    border-radius: 74.812px;
    background: rgba(235, 223, 215, 0.75);
}