
.container{
    height: 100vh;
    margin: 0;
    background-image: url('https://ui167uk0dv.ufs.sh/f/cPmxYSKavd0t7wGWeG9YzAeR3Ku0fwNZI2kPtdSq8DGsFMh1');
    background-size: cover;
    background-position: center bottom;
    color: #FFF;
}
.brand > h2 {
    color: #FFF;
    font-family: "Instrument Sans";
    font-size: 26.434px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}