.nav-container {
    background: #FFF;
    padding: 1.2rem 0.5rem;
    font-family: 'Poppins';

}
.left{
    color: #161616;
    font-family: "Instrument Sans";
    font-size: 31.8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.ou{
    color: #EBDFD7;
    font-family: "Instrument Sans";
    font-size: 31.8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.right{
    font-size: 18px;
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}