.project-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 20% 80%;
    height: 100%;
    background: #EBDFD7;
    padding: 2rem 4rem;
    overflow: hidden;
}